*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --blue-main-color: #5bc9d4;
    --hover-background: #a0beee;
    --sharky-font: "mona_sharkregular";
    --jakarta-font: "plus_jakarta_sansregular";
}

@font-face {
    font-family: 'mona_sharkregular';
    src: url('fonts/mona_shark-webfont.woff2') format('woff2'),
         url('fonts/mona_shark-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plus_jakarta_sansregular';
    src: url('/fonts/plusjakartasans-variablefont_wght-webfont.woff2') format('woff2'),
         url('/fonts/plusjakartasans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.sidebar{
    display: grid;
    grid-row: 1 / 3;
    background-color: var(--blue-main-color);
}

.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.dashboard-icon{
    width: 3.5rem;
}

.icon-group{
    width: 2.1rem;
}

.dashboard-icon + .icon-text{
    font: 1.5rem var(--sharky-font);
    font-weight: 200;
}

.button-item{
    background: transparent;
    border: solid 2px transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding-left: 1rem;
    gap: 1rem;
}

.sidebar > .main-group{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    gap: 5px;
    padding-top: 35px;
}

.sidebar > .sub-group{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
    padding-top: 35px;
}

.main-group .icon-text,
.sub-group .icon-text,
.hello-text,
button{
    font: 1rem var(--jakarta-font);
}

.header .icon-text{
    font: 1.2rem var(--jakarta-font);
    font-weight: 900;
}

.search-bar{
    padding: 10px 20px;
    outline: none;
    border: 2.3px solid #E5E7EB;
    transition: 0.5s;
    border-radius: 0.5rem;
}

.header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    height: fit-content;
    justify-items: center;
    row-gap: 2rem;
    align-items: center;
}

.sharky-main{
    width: 5rem;
}

.notification{
    grid-column: 4 / 5;
}

button{
  background: var(--blue-main-color);
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  box-sizing: border-box;
  border: 0;
  font-size: 1rem;
  height: fit-content;
}

/* Hovering selectors */
.button-item:hover{
    background: var(--hover-background)    
}